.container
    width: $fw
    min-width: $fw
    max-width: $fw
    height: auto
    min-height: $fh
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    overflow: hidden
    background-color: #fff

    .navigation
        width: 15vw
        height: $fh
        min-height: $fh
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin: 0
        padding: 2vh 1vw
        z-index: 999
        position: fixed
        top: 0
        left: 0
        bottom: 0
        background-color: $white
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1)

        nav.main-navigation
            width: 100%
            text-align: right
            font:
                family: monospace
                size: 1.3em

            ul#main-nav-list
                list-style-type: none

                li.nav-list-item
                    margin: 0
                    width: 100%
                    a.nav-list-item-link
                        display: block
                        width: 100%
                        padding: 1vh
                        text-decoration: none
                        color: $dark-grey
                        transition: all 300ms ease-in-out
                        &:hover, &:focus, &:active
                            outline: none
                            border-right: 15px solid rgb(94, 233, 133)
                            box-shadow: 0 0 1px $bg-grey

    .content
        width: 85vw
        height: $fh
        min-height: $fh
        margin: 0
        padding: 5vh 5vw
        overflow: scroll
        background-color: $bg-grey

        footer
            display: block
            padding: 1vh
            width: 85vw
            height: 5vh
            position: fixed
            bottom: 0
            right: 0
            left: 15vw
            text-align: right
            background-color: $dark-grey
