doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description", content="A simple docs repository")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Welcome to docs
        link(rel="icon", href="assets/icons/favicon.ico")
        link(rel="stylesheet", href="styles/main.css")
    body
        .container
            .navigation
                nav.main-navigation
                    ul#main-nav-list
                        li.nav-list-item
                            a.nav-list-item-link(href="#notes") notes
                        li.nav-list-item
                            a.nav-list-item-link(href="#references") references
                        li.nav-list-item
                            a.nav-list-item-link(href="#works") works
                        li.nav-list-item
                            a.nav-list-item-link(href="#connect") connect

            .content
                footer
                    .email-cta
                        a.mail-cta(href="mailto:vineeth1991@gmail.com") email me
